{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/typedef": ["error", {
      "arrayDestructuring": true,
      "parameter": true,
      "memberVariableDeclaration": true
    }]
  }
}
