node_modules
.idea/
src/main.test.ts
dist

# we don't want to include generated tests, if we want to keep them, change it to just .test.ts
*.deepunitai.test.ts
deepunit.config.json
*.deepunittemptest.test.ts