<div class="MenuBar__container">
  <button class="MenuBar__hamburgerButton" (click)="toggleBurger()"><img class="MenuBar__svg" src="/assets/svg/hamburgerGPT.svg"></button>
  <div class="MenuBar__rightNav"><!-- todo: create a service to get the username and decide what tool/mode the app is in(eg: ops, impersonation, etc. -->
    <div class="MenuBar__nameElement">
      <div class="MenuBar__username">Justin Strong</div>
      <div class="MenuBar__toolName">Ops Tool</div>
      <button class="MenuBar__logOut" (click)="logout()">Log out</button></div>


  </div>
</div>
