<div class="LandingPage__headerFlex">
    <div class="LandingPage__centered LandingPage__header">Two new revenue streams for your gym</div>
    <div class="LandingPage__centered LandingPage__subHeader">Grow your gyms revenue and help your members keep fit out of town</div>
<!--
  <button class="LandingPage__CTAButton">Get The Fit Passport</button>
-->
</div>

<div class="LandingPage__coloredBackground">
  <div class="LandingPage__howDoesItWorkContainer">
    <div class="LandingPage__missionTextContainer">
      <div class="LandingPage__howDoesItWorkHeader">The Fit Passport Mission</div>
      <div class="LandingPage__howDoesItWorkExplanation">The Fit Passport mission is to help gyms. Unlike other tech companies in this space our gym partners are our #1 priority. Here at the Fit Passport when we partner with a gym it is our goal to help that gym make more money, offer their members more and compete with the big chains.</div>
    </div>
  </div>
</div>


<div class="LandingPage__whiteBackground">
<div class="LandingPage__howDoesItWorkContainer">
  <div class="LandingPage__howDoesItWorkTextContainer">
    <div class="LandingPage__howDoesItWorkHeader">What is the Fit Passport?</div>
    <div class="LandingPage__howDoesItWorkExplanation">The Fit Passport is a membership add on that lets your gym members visit out of town gyms. Offering the Fit Passport helps you compete with nationwide chain gyms and increases your gyms revenue at the same time.</div>
    <div class="LandingPage__howDoesItWorkHeader">How does it work?</div>
    <div class="LandingPage__howDoesItWorkExplanation">1. Earn revenue every month by selling the Fit Passport as an add-on to your membership</div>
    <div class="LandingPage__howDoesItWorkExplanation">2. Get paid every time an out of town Fit Passport holder visits your gym</div>
  </div>

  <div class="LandingPage__howDoesItWorkImageContainer">
<!--
    <img class="LandingPage__howDoesItWorkImage" src="assets/images/passport.jpeg">
-->
    <img class="LandingPage__howDoesItWorkImage" src="assets/svg/Asset2.svg">
  </div>
</div>
</div>

<div class="LandingPage__moreInfoColorContainer LandingPage__coloredBackground">
<div class="LandingPage__moreInfoSectionContainer">
  <div class="LandingPage__moreInfoHeader">More Info</div>

  <div class="LandingPage__questionText">How is the Fit Passport sold?</div>
  <div class="LandingPage__answerText">When someone comes into your gym looking to buy a membership you offer them a Fit Pasport membership as an optional add-on to your normal membership. Your membership rates stay the same, but now you also can earn recurring monthly revenue from each Fit Passport sold with your normal membership.</div>

  <div class="LandingPage__questionText">When can I start selling the Fit Passport?</div>
  <div class="LandingPage__answerText">We are still building our platform and initial network of gyms in preparation for a US launch.</div>

  <div class="LandingPage__questionText">Is there a cost to become a Fit Passport partner gym?</div>
  <div class="LandingPage__answerText">There is no cost to join as a gym partner. We know operating a gym can be a demanding business so the Fit Passport only helps your gym grow its revenue.</div>

  <div class="LandingPage__questionText">How does it work for gym members?</div>
  <div class="LandingPage__answerText">When a new member is buying a membership at your gym they can choose to also get the Fit Passport as an optional add on. Existing members can also choose to buy the Fit Passport. Buying the Fit Passport gives them access to the Fit Passport network of gyms when they are out of town and can't visit your gym.</div>

  <div class="LandingPage__questionText">Are there any additional benefits to becoming a Fit Passport partner gym?</div>
  <div class="LandingPage__answerText">Offering the Fit Passport to your members allows you the compete with the big chain gyms with thousands of locations by giving your members access to a nationwide network of gyms. Now your members don't need to worry about staying Fit when they aren't near your gym.</div>

  <!--<div class="LandingPage__questionText">How do credits work?</div>
  <div class="LandingPage__answerText">Every month a Fit Passport holder stays subscribed they accumulate credits on their Fit Passport. When they visit another gym those credits are redeemed to pay the gym they are visiting.</div>
--><!--
  <div class="LandingPage__questionText">How many credit accumulate each month?</div>
  <div class="LandingPage__answerText">The members home gym that sells the Fit Passport can sell a variable number of credits depending on the members budget and expected use of the passport.</div>

  <div class="LandingPage__questionText">Do credits expire?</div>
  <div class="LandingPage__answerText">Credits do not expire, they remain on the users account until they cancel their Fit Passport subscription. If the Fit Passport subscription is canceled the gym member loses the credits they have accumulated.</div>
-->
</div>
</div>
