.ListGymInvites__flexContainer {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 24px;
}
.ListGymInvites__table {
  width: 100%;
  border-collapse: collapse;

  margin-top: 18px;
}
.ListGymInvites__tdtr {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
